<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.luojia.mapper.ExtCproductMapper">
	<resultMap type="cn.luojia.domain.ExtCproduct" id="extCproductRM">
		<id property="id" column="EXT_CPRODUCT_ID"/>
		
		<result property="contractProductId" column="CONTRACT_PRODUCT_ID"/>
		<result property="factoryId" column="FACTORY_ID"/>
		
		<result property="factoryName" column="FACTORY_NAME"/>
		<result property="ctype" column="CTYPE"/>
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="productImage" column="PRODUCT_IMAGE"/>
		<result property="productDesc" column="PRODUCT_DESC"/>
		<result property="cnumber" column="CNUMBER"/>
		<result property="packingUnit" column="PACKING_UNIT"/>
		<result property="price" column="PRICE"/>
		<result property="packingUnit" column="PACKING_UNIT"/>
		<result property="amount" column="AMOUNT"/>
		<result property="productRequest" column="PRODUCT_REQUEST"/>
		<result property="orderNo" column="ORDER_NO"/>
	</resultMap>
	
	<!-- 查询某个货物下的附件信息 -->
	<select id="find" parameterType="map" resultMap="extCproductRM">
		select EXT_CPRODUCT_ID,CONTRACT_PRODUCT_ID,FACTORY_ID,FACTORY_NAME,CTYPE,PRODUCT_NO,
			PRODUCT_IMAGE,PRODUCT_DESC,CNUMBER,
			PACKING_UNIT,PRICE,AMOUNT,PRODUCT_REQUEST,ORDER_NO
		from EXT_CPRODUCT_C
		where 1=1
		<if test="contractProductId != null"> and CONTRACT_PRODUCT_ID=#{contractProductId}</if>
	</select>
	
	<select id="get" parameterType="string" resultMap="extCproductRM">
		select EXT_CPRODUCT_ID,CONTRACT_PRODUCT_ID,FACTORY_ID,FACTORY_NAME,CTYPE,PRODUCT_NO,
			PRODUCT_IMAGE,PRODUCT_DESC,CNUMBER,
			PACKING_UNIT,PRICE,AMOUNT,PRODUCT_REQUEST,ORDER_NO 
		from EXT_CPRODUCT_C
		where EXT_CPRODUCT_ID=#{pid}
	</select>
	
	<insert id="insert" parameterType="cn.luojia.domain.ExtCproduct">
		insert into EXT_CPRODUCT_C
		(EXT_CPRODUCT_ID,CONTRACT_PRODUCT_ID,FACTORY_ID,FACTORY_NAME,CTYPE,PRODUCT_NO,
			PRODUCT_IMAGE,PRODUCT_DESC,CNUMBER,
			PACKING_UNIT,PRICE,AMOUNT,PRODUCT_REQUEST,ORDER_NO)
		values(
			#{id},
			#{contractProductId},
			#{factoryId},
			#{factoryName, jdbcType=VARCHAR},
			#{ctype, jdbcType=INTEGER},
			#{productNo, jdbcType=VARCHAR},
			#{productImage, jdbcType=VARCHAR},
			#{productDesc, jdbcType=VARCHAR},
			#{cnumber, jdbcType=INTEGER},
			#{packingUnit, jdbcType=VARCHAR},
			#{price, jdbcType=DOUBLE},
			#{amount, jdbcType=DOUBLE},
			#{productRequest, jdbcType=VARCHAR},
			#{orderNo, jdbcType=INTEGER}
		)
	</insert>
	
	<update id="update" parameterType="cn.luojia.domain.ExtCproduct">
		update EXT_CPRODUCT_C
		<set>
			CONTRACT_PRODUCT_ID=#{contractProductId},
			FACTORY_ID=#{factoryId},
			<if test="factoryName != null">FACTORY_NAME=#{factoryName},</if>
			<if test="ctype != null">CTYPE=#{ctype},</if>
			<if test="productNo != null">PRODUCT_NO=#{productNo},</if>
			<if test="productImage != null">PRODUCT_IMAGE=#{productImage},</if>
			<if test="productDesc != null">PRODUCT_DESC=#{productDesc},</if>
			<if test="cnumber != null">CNUMBER=#{cnumber},</if>
			<if test="packingUnit != null">PACKING_UNIT=#{packingUnit},</if>
			<if test="price != null">PRICE=#{price},</if>
			<if test="amount != null">AMOUNT=#{amount},</if>
			<if test="productRequest != null">PRODUCT_REQUEST=#{productRequest},</if>
			<if test="orderNo != null">ORDER_NO=#{orderNo},</if>
		</set>
		where EXT_CPRODUCT_ID=#{id}
	</update>
	
	
	<!-- 删除一条 -->
	<delete id="deleteById" parameterType="string">
		delete from EXT_CPRODUCT_C
		where EXT_CPRODUCT_ID=#{pid}
	</delete>
	
	<!-- 删除多条（一维字符串数组） -->
	<delete id="delete" parameterType="string">
		delete from EXT_CPRODUCT_C
		where EXT_CPRODUCT_ID in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<!-- 级联删除，删除某个货物下的附件 -->
	<delete id="deleteByContractProductById" parameterType="string">
		delete from ext_cproduct_c
		where CONTRACT_PRODUCT_ID in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
</mapper>